.track {
  padding: 24px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 24px;

  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 16px;
  row-gap: 24px;

  &.-video {
    grid-template-areas:
      "name    delete  activate"
      "sections sections sections";
  }

  &.-titleScreen {
    grid-template-areas: "name delete activate";
  }

  &_name {
    grid-area: name;
    margin: 0;
    font-weight: 400;
  }

  &_activate {
    grid-area: activate;
  }

  &_delete {
    grid-area: delete;
    background-color: indianred;
  }

  &_sections {
    grid-area: sections;
    display: flex;
    align-items: flex-end;
    margin: 0;
    margin-top: -24px;
    padding: 24px 0 16px;
    list-style: none;
    overflow-x: scroll;

    .section:not(:last-child) {
      margin-right: 16px;
    }
  }

  &_create {
    height: var(--component_height);
    width: calc(var(--component_height) * 16 / 9);
    color: rgba(0, 0, 0, 0.5);
    border: 2px dashed rgba(0, 0, 0, 0.1);
    background-color: white;
  }
}
