* {
  box-sizing: border-box;
}

body {
  --primaryColor: #11207a;

  background-color: black;
  margin: 0;
  font-family: Ubuntu, Cantarell, "Segoe UI", sans-serif;
  user-select: none;
  overflow: hidden;
}
