.section {
  border-left: 2px solid rgba(0, 0, 0, 0.1);
  padding-left: 16px;
  display: grid;
  grid-template-areas:
    "name       delete"
    "components components";
  gap: 16px;
  flex-shrink: 0;

  &_name {
    grid-area: name;
  }

  &_delete {
    grid-area: delete;
    justify-self: start;
    background-color: indianred;
  }

  &_components {
    list-style: none;
    grid-area: components;
    display: flex;
    padding: 0;
    margin: 0;

    .component:not(:last-child) {
      margin-right: 16px;
    }
  }

  &_create {
    height: var(--component_height);
    width: calc(var(--component_height) * 16 / 9);
    color: rgba(0, 0, 0, 0.5);
    border: 2px dashed rgba(0, 0, 0, 0.1);
    background-color: white;
  }
}
