.textField {
  height: 36px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 8px 10px;
  position: relative;
  display: inline-block;
  width: 100%;

  transition-property: border-color;
  transition-duration: 150ms;

  &.-isFocused {
    border-color: cornflowerblue;
  }

  &_label {
    font-size: 12px;
    position: absolute;
    top: -17px;
    left: 10px;
    color: rgba(0, 0, 0, 0.5);

    transition-property: color, font-size, top;
    transition-duration: 150ms, 300ms, 300ms;

    &.-isFocused {
      color: cornflowerblue;
    }

    &.-isExpanded {
      top: 8px;
      font-size: 16px;
    }
  }

  &_input {
    border: none;
    font-family: inherit;
    font-size: 16px;
    padding: 0;
    outline: none;
    height: 16px;
    caret-color: cornflowerblue;
    width: 100%;
  }
}
