* {
  box-sizing: border-box;
}

body {
  --component_height: 128px;

  font-family: Ubuntu, Cantarell, "Segoe UI", sans-serif;
  font-size: 14px;
  margin: 24px;
  user-select: none;
  background: white;
}

.create {
  .button:not(:last-child) {
    margin-right: 16px;
  }
}
