.titleScreen {
  background-color: white;
  padding: 100px;
  gap: 100px;
  display: grid;
  grid-template-areas: "logo title";
  grid-template-columns: auto 1fr;
  height: 100vh;

  &_logo {
    grid-area: logo;
    width: 256px;
  }

  &_title {
    grid-area: title;
    font-size: 96px;
    color: var(--primaryColor);
    margin: 0;
  }
}
