.logo {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  &_plate {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.25);
    margin-right: 50px;
    transform: scale(0);
    transition-property: transform;
    transition-duration: 300ms;

    &.-isShown {
      transform: scale(1);
    }
  }

  &_logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
    object-position: center;
  }

  &_caption {
    padding: 25px;
    color: white;
    font-size: 50px;
    line-height: 1.25;
    border-radius: (75px / 2);
    background-color: rgba(0, 0, 0, 0.5);
    animation-name: caption;
    animation-duration: 5s;
    animation-fill-mode: both;
  }
}

@keyframes caption {
  0%,
  100% {
    transform: translateY(25vh);
  }

  10%,
  90% {
    transform: translateY(0);
  }
}
