.button {
  height: 36px;
  padding: 0 16px;
  color: white;
  background-color: cornflowerblue;
  font-weight: 500;
  font-family: inherit;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  transition-property: opacity;
  transition-duration: 150ms;

  &:hover {
    opacity: 0.75;
  }

  &:active {
    opacity: 0.5;
  }

  &:disabled {
    opacity: 0.25;
  }
}

.fileButton {
  &_input {
    width: 0;
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
