.component {
  width: calc(var(--component_height) * 16 / 9);
  height: var(--component_height);
  border-radius: 5px;
  overflow: hidden;
  position: relative;

  &_photo,
  &_video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 8px;
    display: flex;
    justify-items: flex-end;
    align-items: flex-start;
  }

  &_delete {
    background-color: indianred;
  }

  &_fitToggle {
    margin-left: 8px;
    padding: 0;
    width: 36px;
  }
}
